
<app-navbar></app-navbar>

<h1 class="estiloLetra text-center text-4xl m-5">Carrito</h1>

<div class="grid grid-cols-1 lg:grid-cols-5 grid-rows-auto gap-2 m-5">


  <div class="bg-red-600 rounded-xl p-4 lg:col-span-3 lg:row-span-5">

    <h2 class="estiloLetra text-center text-2xl text-white mb-4">Productos</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 overflow-y-auto max-h-[500px] p-2">

      @for (producto of productosEnCarrito; track producto.id) {

        <div class="bg-neutral-primary-soft block p-6 border border-default rounded-base shadow-xs text-white">
          <img class="rounded-base w-full object-cover" src="{{producto.foto}}" alt="" />
          <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center mt-4">
            <h5 class="text-2xl font-semibold tracking-tight text-heading mb-2 lg:mb-0">
              {{producto.nombre}}
            </h5>
            <button type="button" (click)="anyadirProducto(1)" class="inline-flex items-center text-white bg-brand hover:bg-brand-strong border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5 focus:outline-none">
              <svg class="w-4 h-4 me-1.5 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
              </svg>
              +
            </button>
          </div>
          <div class="grid grid-cols-2 gap-4 mb-6 text-body">
            <span>Precio: {{producto.precio}} €</span>
            <span>Cantidad: {{obtenerCantidadProducto(producto.id!)}}</span>
          </div>
          <p class="mb-6 text-body">{{producto.descripcion}}</p>

          <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-2">
            <a href="#" class="inline-flex items-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium rounded-base text-sm px-4 py-2.5 focus:outline-none mb-2 lg:mb-0">
              Ir al producto
              <svg class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/></svg>
            </a>
            <button (click)="quitarItem(producto.id!)" class="inline-flex items-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium rounded-base text-sm px-4 py-2.5 focus:outline-none">
              Quitar producto x
            </button>
          </div>
        </div>

      }

    </div>

  </div>

  <!-- Resumen del pedido -->
  <div class="bg-blue-400 rounded-xl p-4 text-white mt-4 lg:mt-0 lg:col-start-4 lg:col-span-2 lg:row-start-1 lg:row-span-3">
    <h2 class="text-2xl text-center estiloLetra mb-4 text-white">Resumen del pedido</h2>
    <div class="flex flex-col gap-4 max-h-64 overflow-y-auto">
      @for (producto of productosEnCarrito; track producto.id) {
        <div class="flex justify-between items-center text-white p-3">
          <span class="font-semibold">{{producto.nombre}} x{{obtenerCantidadProducto(producto.id!)}}</span>
          <span class="font-semibold">{{(obtenerPrecioTotalPorCantidadProducto(producto.id!))}}€</span>
        </div>
      }
    </div>
  </div>

  <!-- Total -->
  <div class="bg-black rounded-xl p-4 text-white mt-4 lg:mt-0 lg:col-start-4 lg:col-span-2 lg:row-start-4 lg:row-span-2">
    <p class="text-2xl text-center estiloLetra">Total</p>
    <p class="text-4xl text-center font-bold mt-4">{{calcularTotal()}} €</p>
  </div>

</div>


<app-footer></app-footer>


