<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Inicio Sesión</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../../assets/LogoPokemon.png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#D70C0C]">
<div class="min-h-screen bg-[#D70C0C] flex items-center">
  <div class="w-full max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-2 divide-x-4 divide-white h-[100vh] py-16">

    <div class="p-8 flex items-center justify-center">
      <div class="text-white">
        <img src="../../assets/ImagenInicioSesion.png" class="w-85 md:w-[30rem] lg:w-[30rem]">
      </div>
    </div>

    <div class="p-8 flex flex-col items-center justify-center">
      <img src="../../assets/BienvenidoMensaje.png" alt="Bienvenido" class="w-80 md:w-96 lg:w-[36rem] mb-6">
      <div class="w-full max-w-md bg-white rounded-xl p-8 shadow-lg">
        <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="hacerLogin()" novalidate>
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
            <input id="email" formControlName="email" name="email" type="email" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" placeholder="Introduzca tu correo electrónico">
          </div>
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
            <input id="password" formControlName="password" name="password" type="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" placeholder="Introduzca tu contraseña">
          </div>
          <a (click)="recuperarContrasena()" class="text-black underline text-sm mt-2 inline-block font-semibold">¿Has olvidado tu contraseña?</a>
          <div>
            <button type="submit" class="w-full bg-[#386ABB] text-white py-2 rounded-md font-medium hover:opacity-90">Inicio Sesión</button>
          </div>
          <button type="button" (click)="solicitarVerificacion()" class="w-full bg-green-600 text-white py-2 rounded-md font-medium hover:opacity-90 mt-2">Verificar cuenta (introducir código)</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
