<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Registrarse</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/LogoPokemon.png">
  <style>
    input#remember-alternative {
      color: #386ABB !important;
      accent-color: #386ABB !important;
      background-color: transparent !important;
    }
  </style>
</head>
<body class="bg-[#D70C0C]">
<div class="min-h-screen bg-[#D70C0C] flex items-center">
  <div class="w-full max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-2 divide-x-4 divide-white h-[100vh] py-16">

    <div class="p-8 flex items-center justify-center">
      <div class="text-white">
        <img src="assets/ImagenRegistrarse.png" class="w-85 md:w-[30rem] lg:w-[30rem]">
      </div>
    </div>

    <div class="p-8 flex flex-col items-center justify-center">
      <img src="assets/BienvenidoMensaje.png" alt="Bienvenido" class="w-80 md:w-96 lg:w-[36rem] mb-6">
      <div class="w-full max-w-md bg-white rounded-xl p-8 shadow-lg">
        <form class="space-y-4" (ngSubmit)="hacerRegistro()" #registroForm="ngForm" novalidate>
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
            <input id="email" name="email" type="email" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" placeholder="Introduzca tu correo electrónico" [(ngModel)]="registro.email">
          </div>
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
            <input id="password" name="password" type="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500" placeholder="Introduzca tu contraseña" [(ngModel)]="registro.password">
          </div>
          <div class="flex items-start mb-5">
            <label for="remember-alternative" class="flex items-center h-5">
              <input id="remember-alternative" name="acceptPolicies" type="checkbox" class="w-4 h-4 border border-gray-300 rounded-xs" [(ngModel)]="aceptaTerminos" aria-label="Acepto las políticas"/>
              <p class="ms-2 text-sm font-medium text-heading select-none">Acepto las políticas y condiciones</p>
            </label>
          </div>
          <button *ngIf="!cargando" type="submit" class="w-full bg-[#386ABB] text-white py-2 rounded-md font-medium hover:opacity-90">Registrarse</button>
          <button *ngIf="cargando" type="button" class="w-full bg-[#386ABB] text-white py-2 rounded-md font-medium inline-flex items-center justify-center cursor-not-allowed" disabled>
            <svg aria-hidden="true" class="w-4 h-4 text-white animate-spin fill-white mr-2"
                 viewBox="0 0 100 101" fill="none">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
            </svg>
            Cargando...
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
